{% extends "bootstrap/base.html" %}

{% block title %}Form Example{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Hello</a>
        </div>    
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% if name %}
            <h1>Hello, {{ name }}!</h1>
            p.a is {{ p.a }} and p.b is {{ p.a }}
        {% endif %}
        The URL that index() method matches is: {{ url_for('index') }}
        {{ app.x }}
    </div>
{% endblock %}
