{% extends "base.html" %}

{% block title %}{{ user.name }}'s Profile{% endblock title %}

{% block content %}
{% if user %}
	<table class="table">
		<thead>
			<tr>
                <th>Name</th>
                <th>Roles</th>
				<th>Last Login</th>
			</tr>
		</thead>
		<tbody>
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.data.roles }}</td>
                <td>{{ user.data.last_active }}</td>

            </tr>
		</tbody>
	</table>
{% else %}
	<p>This user does not exist.</p>
{% endif %}
{% endblock content %}


    {% block sidebar %}
        {% if current_user.admin %}
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="{{ url_for('wiki.management_option', management_option='edit_user') }}">Edit User</a></li>
                <li><a href="{{ url_for('wiki.management_option', management_option='delete_user') }}">Delete User</a></li>

            </ul>
        {% endif %}
    {% endblock sidebar %}
