{% extends "base.html" %}

{% block title %}User Index{% endblock title %}

{% block content %}
{% if users %}
	<table class="table">
		<thead>
			<tr>
				<th>Users</th>
				<th>Last Active</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
                <tr>
					<td><a href="{{ url_for('wiki.user_page', name=user.name) }}">{{ user.name }}</a></td>
					<td>{{ user.get("last_active") }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>There are currently no users able to be listed.</p>
{% endif %}
{% endblock content %}

{% block sidebar %}
<ul class="nav nav-tabs nav-stacked">
	<li><a href="{{ url_for('wiki.user_create') }}">New User</a></li>
	<li><a href="{{ url_for('wiki.tags') }}">Delete User</a></li>
	<li><a href="{{ url_for('wiki.search') }}">Search</a></li>
</ul>
{% endblock sidebar %}
